html {
  scroll-behavior: smooth;
}
/*Gooblas CSS*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif,Arial;
}

:root {
  --bg-principal: #7c3aed;
}


header {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: var(--bg-principal);
  padding: 22px 18px;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}



nav ul {
  display: flex;
  list-style: none;
}



li {
  margin: 0 20px;
}

li a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding-bottom: 6px;
  position: relative;
  transition: transform 0.3s ease, color 0.5s ease;
}
li a:hover,
li a.active {
  color: var(--accent);
  font-size: 16.5px;
}
li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent);  
  transition: width 0.3s ease;
}

li a:hover::after,
li a.active::after {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}
.menu-toggle { 
  display: none; 
  font-size: 30px; 
  cursor: pointer; 
  color: white; 
  transition: 
    transform 0.35s ease,
    opacity 0.25s ease;
}
.menu-toggle.open {
  transform: rotate(90deg) scale(0.9);
}
@media (max-width: 768px) {
  header{
    justify-content: end;
  }
  .menu-toggle {
    display: block;
  }

  .navs-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
  
    
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
  }

  .navs-links li {
    margin: 15px 0;
    overflow: hidden;
  }

  .navs-links.active {
    max-height: 300px;
  }
}

.hero{
  width: 100%;
  position: relative;
  background: url('img/tienda.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 97vh;      
}

.black{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  text-align: center;
}

.logo{
  color: white;
  font-size: 1rem;
  font-weight: bold;


}

.logo h1{
  display: flex;
}


.iconos { 
  display: flex;
  margin-right: 20px;

}
.iconos button a{
  font-size: 22px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.iconos button {
  background: none;
  border: none;
  cursor: pointer;
}


.search-overlay {
  height: 20vh;
  position: fixed;
  inset: 0;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 9999;
}

.search-overlay.active {
  display: flex;
}

.search-overlay input {
  width: 50%;
  max-width: 600px;
  padding: 14px 18px;
  font-size: 18px;
  border: 1px solid #ddd;
  outline: none;
}

.search-overlay button {
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.navbar.hidden {
  display: none;
}
/* Estilos para el carrusel de tarjetas */
.carrusel{
  display: flex;
  height: auto;
  width: 100%;
  overflow-x: scroll;
  gap: 15px;
}
.card{
  flex: 0 0 20rem;
  height: auto;
  padding: 10px;
  margin:5px;
  background-color: rgb(55, 84, 179);
}
.imagenes{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: -10px -10px 0px -10px;
}
.prev{
  text-align: center;
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 8px;
}
.next{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 6px;
}
.prev, .next{
  background-color: rgba(223, 216, 216, 0.89);
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.imagenes img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: top;
}


.imagenes img.activa {
  display: block;
}
/* COLORES */
.colores {
  display: flex;
  gap: 8px;
}

.color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
}